# Node / pnpm
node_modules/
pnpm-lock.yaml

# pnpm local store
.pnpm-store/
.pnpm/

# Build artifacts
dist/
.astro/
.turbo/

# Editors
.DS_Store
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
